<div class="tree-folder" *ngFor="let treeItem of tree?.children">
  <div class="tree-item" (click)="opened = !opened">
    <fa-icon *ngIf="treeItem.isDirectory" [icon]="opened ? faAngleDown : faAngleRight"></fa-icon>
    {{ treeItem.name }}
  </div>
  <app-tree *ngIf="treeItem.isDirectory && opened" [tree]="treeItem"></app-tree>
</div>
