<!--<app-navbar></app-navbar>-->
<app-breadcrumb [path]="path"></app-breadcrumb>
<app-tree [tree]="tree"></app-tree>

<main class="drop-zone" (appDropZone)="onDrop($event)">
  <div class="items-list">
    <div class="items header">
      <div class="name">Nom</div>
      <div class="order">Propriétaire</div>
      <div class="date">Modifié le</div>
      <div class="size">Taille</div>
    </div>

    <div class="items" *ngFor="let file of files" (click)="onItemClick(file)">
      <div class="name">
        <div class="icon"><fa-icon [icon]="file.isDirectory ? faFolder : faFile"></fa-icon></div>
        <span>{{ file.name }}</span>
      </div>
      <div class="order">Martin</div>
      <div class="date">{{ file.lastModified | date: 'dd/MM/yyyy' }}</div>
      <div class="size left">{{ file.isDirectory ? '-' : convertByte(file.size) }}</div>
    </div>
  </div>
</main>
