:host {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;

  background-color: var(--gray-500);
  color: white;
}

app-breadcrumb {
  grid-column-start: 1;
  grid-column-end: 3;
}

.drop-zone {
  border: #7ebdc2 solid 2px;
  height: 100%;
  padding: 0.5em;

  &.drop-zone-active {
    background-color: #e0f6ff;
    border-color: #bee1ff;
  }
}

.items {
  display: flex;
  color: var(--gray-100);
  &.header {
    position: relative;
    color: var(--gray-300);
    padding-bottom: 0.25rem;

    :not(:last-child) {
      margin-right: 0.25rem;
      border-right: 1px solid var(--gray-400)
    }
  }

  > .name { flex: 3; display: inline-flex; color: white }
  > .order { flex: 1 }
  > .date { flex: 1 }
  > .size { flex: 1 }

  > .name > .icon { width: 1.25rem; text-align: center;}
  > .size.left { text-align: right }

  &:hover {
    background-color: var(--gray-400);
  }
}
