#breadcrumb {
  display: flex;
  align-items: center;
  background-color: var(--gray-600);
  padding: 0.25rem;

  fa-icon {
    padding: 0.5rem;
    transition: color ease-out 100ms;

    &.disabled {
      color: var(--gray-200);
    }
    &:hover:not(.disabled) {
      color: #5eb5e3;
    }
  }

  > div {
    display: flex;
    flex: 1;
    border: 1px solid var(--gray-300);
  }

  .section {
    padding: 0.25rem 0 0.25rem 0.25rem;
    transition: background-color ease-out 100ms;

    &:last-child { padding-right: 0.25rem; }
    &:not(:last-child):after {
      content: ">";
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }

    &:hover {
      background-color: var(--gray-400);
    }
  }
}
