<div id="breadcrumb">
  <fa-icon [icon]="faArrowLeft"></fa-icon>
  <fa-icon [icon]="faArrowRight"></fa-icon>
  <div>
    <div *ngFor="let section of path.split('/'); let index = index" class="section">
      {{ section }}
    </div>
  </div>
</div>
